/* minimal app styles */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.table-container > table {
  border-collapse: collapse;
}

.table-container th, .table-container td, .table-container tr {
  border: 1px solid black;
  padding: 4px 6px
}