/* minimal app styles */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container > table {
  border-collapse: collapse;
}

.container th, .container td, .container tr {
  border: 1px solid black;
  padding: 4px 6px
}